.Header_div {
    padding: 25px;
}
.Header_div > * {
    display: inline;
}

.Header_title {
    color: blue;
}

.Header_nav {
    position: fixed;
    right: 0;
}

.Header_nav > * {
    padding-right: 15px;
}