@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap');


html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  color: hsla(200, 60%, 99%, 1);
  background: hsla(0, 0%, 25%, 1);
}

html {
  margin: 0 25px;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
  font-weight: 900;
}



a {
  color: inherit;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}
