
@media screen and (max-width: 768px) {
  .pageContainer {
    margin: 0 20px;
  }
  
  .heroSlide {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
  }

  .headings {
    width: 100%;
    margin-top: 0;
  }

  .slideTitle {
    width: 100%;
    text-align: center;
  }

  .slideContainer {
    position: relative;
    left: 0;
    bottom: 50px;
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
}







