.Header_div {
    display: flex;
}

.Header_nav {
    display: flex;
    flex-flow: row nowrap;
    margin-block: 0;
}

@media screen and (max-width: 428px) {
    .Header_div {
        flex-flow: column nowrap;
    }


    .Header_nav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: space-around;
        z-index: 1000;
        background-color: hsla(200, 60%, 99%, 1);
        padding: .5rem .25rem;
        color: hsla(0, 0%, 25%, 1);
        border-radius: 15px 15px 0 0;
        
    }

    .Header_nav > svg {
        font-size: 2rem;
        filter: drop-shadow(3px 3px 2px #fff);
    }
}

@media screen and (min-width: 429px) and (max-width: 926px) {
    
    .Header_div {
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 1.5rem;
        margin: .5rem .75rem;
    }

    .Header_nav {
        width: 50%;
        justify-content: space-around;
    }
    
    .Header_nav > svg {
        font-size: 2rem;
        filter: drop-shadow(3px 3px 2px #000);
    }
}